
<div class="row">
    <div class="col-md-12 well facerecognition_flyer">
      	<h1><button class="btn btn-success btn-lg"><img src="http://simpleicon.com/wp-content/uploads/smile.png" width="50" height="50" alt="Smiling :)"/></button>  FaceRecognition</h1>
        <p class="lead">This is a rails web app that consumes the <a href="https://www.mashape.com/lambda/face#!documentation">Face</a> API. It detects your <b>face</b>, <b>eyes</b>, <b>mouth</b>, <b>nose</b>, <b>smile rate</b> and your <b>confidence rate</b>.</p>
  	</div>        
</div>

<h1>Test Your Face</h1>

<%= render 'form' %>
